In [1]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [2]:
print(df['event'])

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [3]:
print(df[['event']])

   event
0   Rain
1  Sunny
2   Snow
3   Snow
4   Rain
5  Sunny

In [6]:
print(type(df['event']))
print(type(df[['event']]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [7]:
print(df[['temperature','event']])

   temperature  event
0           32   Rain
1           35  Sunny
2           28   Snow
3           24   Snow
4           32   Rain
5           31  Sunny

In [8]:
print(type(df[['temperature','event']]))

<class 'pandas.core.frame.DataFrame'>

In [9]:
df.loc[:,['temperature','event']]

   temperature  event
0           32   Rain
1           35  Sunny
2           28   Snow
3           24   Snow
4           32   Rain
5           31  Sunny

In [10]:
df[df['event']=='Rain'][['temperature','windspeed']]

   temperature  windspeed
0           32          6
4           32          4

In [ ]:
df1